# ***business Understanding***

**Dataset Description:**

The "Vehicle Sales and Market Trends Dataset" provides a comprehensive collection of information pertaining to the sales transactions of various vehicles. This dataset encompasses details such as the year, make, model, trim, body type, transmission type, VIN (Vehicle Identification Number), state of registration, condition rating, odometer reading, exterior and interior colors, seller information, Manheim Market Report (MMR) values, selling prices, and sale dates.

**Key Features:**
- Vehicle Details: Includes specific information about each vehicle, such as its make, model, trim, and manufacturing year.

- Transaction Information: Provides insights into the sales transactions, including selling prices and sale dates.
- Market Trends: MMR values offer an estimate of the market value of each vehicle, allowing for analysis of market trends and fluctuations.

- Condition and Mileage: Contains data on the condition of the vehicles as well as their odometer readings, enabling analysis of how these factors influence selling prices.

**Potential Use Cases:**

- Market Analysis: Researchers and analysts can utilize this dataset to study trends in the automotive market, including pricing fluctuations based on factors such as vehicle condition and mileage.

- Predictive Modeling: Data scientists can employ this dataset to develop predictive models for estimating vehicle prices based on various attributes.

- Business Insights: Automotive industry professionals, dealerships, and financial institutions can derive insights into consumer preferences, market demand, and pricing strategies.

- Format: The dataset is typically presented in tabular format (e.g., CSV) with rows representing individual vehicle sales transactions and columns representing different attributes associated with each transaction.

- Data Integrity: Efforts have been made to ensure the accuracy and reliability of the data; however, users are encouraged to perform their own validation and verification processes.

- Update Frequency: The dataset may be periodically updated to include new sales transactions and market data, providing fresh insights into ongoing trends in the automotive industry.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datasist as ds
from scipy import stats
from pycaret.classification import *
import warnings
warnings.filterwarnings('ignore')

# ***Collecting Data***

In [2]:
df = pd.read_csv('car_prices.csv')
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

# ***Feature Engineering and Extraction***

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [4]:
for col in df.columns:
    print(f'{col} : ')
    print('-' * 80)
    print(df[col].unique())
    print('_' * 80)
    print(df[col].value_counts())
    print('*' * 80)
    print('\n')

year :
--------------------------------------------------------------------------------
[2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004 2003 2002
 2001 2000 1999 1998 1995 1996 1997 1987 1994 1993 1992 1989 1991 1990
 1986 1985 1988 1984 1982 1983]
________________________________________________________________________________
year
2012    102315
2013     98168
2014     81070
2011     48548
2008     31502
2007     30845
2006     26913
2010     26485
2005     21394
2009     20594
2004     17342
2003     13281
2002      9715
2015      9437
2001      6468
2000      5227
1999      3363
1998      2149
1997      1546
1996       851
1995       711
1994       392
1993       205
1992       132
1991        67
1990        49
1989        20
1986        11
1988        11
1985        10
1987         8
1984         5
1982         2
1983         1
Name: count, dtype: int64
********************************************************************************


make :
--------------------------------------------------------------------------------
['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Hyundai' 'Buick'
 'Cadillac' 'Acura' 'Lexus' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'MINI' 'Land Rover' 'Lincoln' 'lincoln' 'Jaguar' 'Volkswagen'
 'Toyota' 'Subaru' 'Scion' 'Porsche' nan 'bmw' 'Dodge' 'FIAT' 'Chrysler'
 'ford' 'Ferrari' 'Honda' 'GMC' 'mitsubishi' 'Ram' 'smart' 'chevrolet'
 'Bentley' 'chrysler' 'pontiac' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'HUMMER' 'landrover' 'cadillac' 'land rover' 'mercedes' 'mazda' 'toyota'
 'lexus' 'gmc truck' 'honda' 'nissan' 'porsche' 'Saab' 'Suzuki' 'dodge'
 'subaru' 'Oldsmobile' 'oldsmobile' 'hyundai' 'jeep' 'Isuzu' 'dodge tk'
 'Geo' 'acura' 'volkswagen' 'suzuki' 'kia' 'audi' 'Rolls-Royce' 'gmc'
 'maserati' 'mazda tk' 'mercury' 'buick' 'hyundai tk' 'mercedes-b' 'vw'
 'Daewoo' 'chev truck' 'ford tk' 'plymouth' 'Plymouth' 'ford truck'
 'Tesla' 'airstream' 'dot' 'Aston Martin' 'Fisker' 'Lamborghini' 'Lotus']
________________________________________________________________________________
make
Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
airstream         1
ford tk           1
chev truck        1
hyundai tk        1
Lotus             1
Name: count, Length: 96, dtype: int64
********************************************************************************


model :
--------------------------------------------------------------------------------
['Sorento' '3 Series' 'S60' '6 Series Gran Coupe' 'Altima' 'M5' 'Cruze'
 'A4' 'Camaro' 'A6' 'Optima' 'Fusion' 'Sonata' 'Q5' '6 Series' 'Impala'
 '5 Series' 'A3' 'XC70' 'X5' 'SQ5' 'S5' 'Verano' 'Suburban' 'ELR' 'V60'
 'X6' 'ILX' 'K900' 'Malibu' 'RX 350' 'Versa' 'Elantra' 'Versa Note' 'A8'
 'X1' nan 'Enclave' 'TTS' '4 Series' 'Silverado 2500HD' 'MDX'
 'Silverado 1500' 'SRX' 'G Coupe' 'G Sedan' 'FX' 'Santa Fe' 'Genesis'
 'Equus' 'Sonata Hybrid' 'Accent' 'Veloster' 'Elantra Coupe' 'Azera'
 'Tucson' 'Genesis Coupe' 'Wrangler' 'S-Class' 'GS 350' 'Outlander'
 'C-Class' 'Mazda2' 'Rio' 'M' '370Z' 'Soul' 'Outlander Sport' 'SLK-Class'
 'ES 350' 'E-Class' 'Mazda3' 'Cooper Clubman' 'Cooper' 'CX-9' 'Forte'
 'Compass' 'JX' 'RX 450h' 'LR4' 'Mazda5' 'Range Rover Evoque' 'LS 460'
 'GLK-Class' 'Sportage' 'Grand Cherokee' 'MKX' 'mkt' 'XF' 'GL-Class'
 'M-Class' 'Cooper Countryman' 'Lancer' 'Range Rover Sport' 'Passat'
 'Corolla' 'XC60' 'Sienna' 'Juke' 'Yaris' 'Sentra' 'Rogue' 'NV' 'CC'
 'Leaf' 'Camry' 'Tacoma' 'Jetta' 'Impreza WRX' 'FJ Cruiser' 'Beetle'
 'Avalon' 'FR-S' 'NV200' 'RAV4' 'Quest' 'Tundra' 'tC' 'Maxima' 'Cayenne'
 '911' 'Xterra' 'Prius' 'S80' 'Frontier' 'Boxster' 'Camry Hybrid' 'xB'
 'Cube' 'Jetta SportWagen' '4Runner' 'Sequoia' 'Legacy' 'Armada' 'Venza'
 'Murano' 'Pathfinder' 'Panamera' 'Forester' 'Highlander' 'Impreza' '750i'
 'TSX' '7 Series' '1 Series' 'TL' '750li' 'S4' 'A7' 'A5' 'RDX' 'M3'
 'Cooper Coupe' 'ZDX' 'R8' 'X3' 'Avenger' 'E-Series Wagon' 'Escape' 'Edge'
 'Focus' 'Flex' 'Z4' 'Traverse' 'F-350 Super Duty' 'Fiesta' '500' '200'
 'Journey' 'Charger' 'e350' 'Equinox' '300' 'F-150' 'Explorer'
 'Captiva Sport' 'Escalade' 'Grand Caravan' 'CTS Coupe' 'Town and Country'
 'E-Series Van' 'Volt' 'Express Cargo' 'e150' 'X5 M' 'Expedition'
 'Colorado' 'Express' 'California' 'Escalade ESV' 'Sonic' 'Accord' 'CR-V'
 'Mustang' 'Civic' 'Fit' 'Pilot' 'Odyssey' 'Crosstour' 'Transit Connect'
 'Terrain' 'Taurus' 'G Convertible' 'Yukon' 'Veracruz' 'XJ' 'Liberty'
 'IS 250' 'XK' 'QX' 'CT 200h' 'Mazda6' 'MKZ' 'Navigator' 'Range Rover'
 'SL-Class' 'Sedona' 'IS 350' 'Patriot' 'galant' '1500' 'GT-R' '2500'
 'Galant' 'fortwo' 'GLI' '5 Series Gran Turismo' 'XC90' 'Tiguan' 'GTI'
 'Q7' 'Highlander Hybrid' 'Prius Plug-in' 'CR-Z' 'EX' 'Sierra 1500'
 'LaCrosse' 'HHR' 'Accord Crosstour' 'CTS' 'Nitro' 'Tahoe' 'Challenger'
 'CTS-V' 'Escape Hybrid' 'X6 M' 'Ranger' 'Insight' 'Fusion Hybrid'
 'CTS-V Coupe' 'F-250 Super Duty' 'Acadia' 'Impala Limited' 'Dart' 'Spark'
 'M37' 'Sprinter' 'Town Car' 'CLS-Class' 'CX-7' 'MKT' 'QX56' 'Aveo'
 'Outback' 'Caliber' 'Routan' 'g1500' 'Sebring' 'Corvette'
 'Continental GT Speed' 'malibu' 'Land Cruiser' 'town' 'V50' 'Commander'
 'Altima Hybrid' 'G37 Convertible' 'g6' 'New Beetle' 'Golf' 'LR2'
 'Lancer Sportback' 'G5' 'Yukon XL' 'Escalade Hybrid' 'Avalanche' 'Titan'
 'Spectra' 'Rondo' 'Borrego' 'G-Class' 'MKS' 'CLK-Class' 'Tahoe Hybrid'
 'Econoline Cargo' 'Econoline Wagon' 'PT Cruiser' 'STS' 'Ridgeline'
 'F-450 Super Duty' 'Magnum' 'Durango' 'S40' 'Malibu Classic' 'TT'
 'Taurus X' 'Explorer Sport Trac' 'Ram Pickup 1500' 'impala' 'Cobalt'
 'Pacifica' 'S6' 'Rabbit' 'C70' 'Sierra 2500HD' 'C30' 'VUE' 'GranTurismo'
 'G6' 'Grand Prix' '350Z' 'Raider' 'Mazdaspeed Mazda3' 'Solstice' 'Milan'
 'GX 470' 'Aura' 'RX 400h' 'Matrix' 'H3' 'CL-Class' 'Outlook' '7' 'G37'
 'IS F' 'Touareg 2' 'Lancer Evolution' 'G35' 'xD' 'XJ-Series' 'G8' 'hhr'
 'H2' 'DTS' 'lr3' 'sts' 'Silverado 1500 Classic' 'M45' 'Uplander'
 'GS 450h' 'corvette' 'rangerover' 'Rendezvous' 'Monte Carlo' 'FX35'
 'range' 'ION' 'R-Class' 'lancer' 'Eclipse' 'c230wz' 'cx-7' 'B9 Tribeca'
 'matrix' 'tundra' 'RSX' 'mazda5' 'Mariner' 'gx' 'Five Hundred' 'Envoy XL'
 'S-Type' 'Element' 'Continental Flying Spur' 'S2000' 'FX45' 'sr' 'pilot'
 'GS 430' 'Cayman S' 'Mark LT' 'ES 330' 'GS 300' '350z' 'Camry Solara'
 'rx8' 'Touareg' 'Relay' 'lx' 'allroad quattro' '9-3' '500L'
 'C-Max Hybrid' 'pacifica' 'Freestyle' 'Ram Pickup 3500' 'Sprinter Cargo'
 'DeVille' 'H2 SUT' 'TrailBlazer' 'Canyon' 'srx' 'Dakota' 'Continental GT'
 'Neon' 'Stratus' 'Q45' 'Freestar' 'Montana' 'Grand Marquis' 'XLR'
 'Aviator' 'g55' 'MPV' 'LS 430' 'Verona' 'Forenza' 'RX 330' '300M'
 'SC 430' 'discovery' 'Excursion' 'Envoy XUV' 'Envoy' 'Concorde'
 'Monterey' 'stratus' 'Mountaineer' 'Amanti' 'Malibu Maxx' 'Celica'
 'Grand Am' 'Endeavor' 'Marauder' 'escape' 'QX4' 'LS' 'Blazer'
 'Ram Pickup 2500' 'LeSabre' 'V40' 'Mazdaspeed Protege' 'Montero' 'ES 300'
 'focus' 'Thunderbird' 'Century' 'Cavalier' 'Venture' 'S-10' 's55'
 'Cougar' 'XL-7' 'Windstar' 'Silverado 1500HD' 'Explorer Sport'
 'Savana Cargo' 'X-Type' 'Sonoma' 'IS 300' 'forester' 'Protege5'
 'sprinter' 'RL' 'Alero' 'Grand Vitara' 'RX 300' 'L-Series' 'V70'
 'Intrigue' 'XC' 'Discovery Series II' 'S-Series' 'alero' 'santa' 'ECHO'
 'MX-5 Miata' 'Continental' 'Seville' 'camry' 'Park Avenue' 'Millenia'
 'I30' 'gr' 'sienna' 'camaro' 'Cherokee' 'Z3' 'civic' 'ram' 'odyssey'
 'taurus' 'expedition' 'Prizm' 'Escort' 's10' 'LHS' 'windstar' 'f250'
 'Regal' 'explorer' 'G20' 'Bonneville' 'Eldorado' 'voyager' 'venture'
 'durango' 'Intrepid' 'Contour' 'S90' 'Sunfire' 'mpv' 'caravan' '200SX'
 'Rodeo' 'wrangler' 'f150' 'Tercel' 'S70' 'Discovery' 'Mustang SVT Cobra'
 '300e' 'pickup' 'ciera' 'Legend' 'LS 400' 'Cutlass Ciera'
 'Santa Fe Sport' 'Cadenza' 'Q50' 'Elantra GT' 'F-TYPE' 'Shelby GT500'
 'QX70' 'QX60' 'Q60 Convertible' 'Cooper Roadster' 'CX-5' 'Cooper Paceman'
 'Rogue Select' 'Cayman' 'CLA-Class' 'allroad' 'ATS' 'Prius v'
 'Continental GTC' 'XV Crosstrek' '3500' 'C-Max Energi' 'Focus ST' 'RS 7'
 'GX 460' 'CTS Wagon' 'SLS AMG' 'Aspen' 'Eclipse Spyder' 'Vibe' 'Eos'
 'Entourage' 'expeditn' 'rl' 'Caravan' 'Quattroporte' 'M35' '9-5' 'SSR'
 'Astro Cargo' 'Safari Cargo' 'passat' 'Tribute' 'Diamante' 'Sable'
 'Silverado 3500' 'Phaeton' 'R32' 'I35' 'g500' 'Bravada'
 'Tahoe Limited/Z71' 'Truck' 'C/K 1500 Series' 'grand' 'SC 300'
 'Roadmaster' 'SC 400' '420sel' 'LX 570' 'QX80' 'RS 5' 'Jetta GLI'
 'ES 300h' 'capt' 'M4' 'SX4' 'iQ' 'Kizashi' 'C/V Cargo Van' 'Prius c'
 '750lxi' 'alp' 'Lucerne' 'Escalade EXT' 'Silverado 3500HD'
 'Crown Victoria' 'Sierra 3500HD' 'M56' 'rio' 'IS 250 C' '3' 'endeavor'
 'corolla' 'jetta' 'ActiveHybrid X6' 'a4' 'dts' 'g3500' 'colorado'
 'sebring' 'e250' 'police' 'Elantra Touring' 'G37 Coupe' 'HS 250h'
 'journey' 'Mazdaspeed3' 'Milan Hybrid' 'Ghost' 'Silverado 1500 Hybrid'
 'crown' 'Yukon Hybrid' 'elantra' 'optima' 'borrego' 'mazda6' '6'
 'Mariner Hybrid' 'montana' 'Torrent' 'VUE Hybrid' 'G3' '9-7X' 'vibe'
 'Expedition EL' 'Tiburon' 'patriot' 'LR3' 'Navigator L' 'Astra' 'Tribeca'
 'XL7' 'sx4' 'Sky' 'Reno' 'M6' 'S8' 'Terraza' 'Silverado 2500HD Classic'
 'uplander' 'ram3500' 'Sierra 1500 Classic' 'Sierra 2500HD Classic'
 'Fusion Energi' 'XK-Series' 'quattroporte' 'B-Series Truck' 'mazda3'
 'b200' 'Mazdaspeed Mazda6' 'Montego' 'g5' 'yaris' 'Rainier'
 'TrailBlazer EXT' 'optra' 'Crossfire' 'magnum' 'savana' 'Sierra 1500HD'
 'ridgelin' 'Savana' 'Zephyr' 'rrs' 'tribute' 'carrera' 'Montana SV6'
 'wave' 'tt' 'Classic' 'pt' 'freestyle' 'Ascender' 'XG350' 'Q60 Coupe'
 'Q70' 'QX50' 'pursuit' 'x-trail' 'GTO' 'xA' 'L300' 'Baja' '9-2X' 'Aerio'
 'el' 'rainier' 'Silverado 2500' 'Astro' 'Tracker' 'intrepid'
 'F-150 Heritage' 'expedit' 'accord' 'Freelander' 'c240w' 'MR2 Spyder'
 'RS 6' '320i' 'Voyager' 'Axiom' 'cl55' 'Montero Sport' 'sl55' 'Protege'
 'Silhouette' 'b1500' 'concorde' '626' 'Blackwood' 'Rodeo Sport' 'LX 470'
 'Villager' 'Firebird' 'Aztek' 'Aurora' 'CL' 'EuroVan' 'Catera' 'Leganza'
 'XG300' 'Prelude' 'Trooper' 'Prowler' 'Cabrio' 'Integra' 'cavalier'
 'astro' 'excurs' 'dakota' 'Cirrus' 'twn&country' 'Jimmy' 'safari'
 'ranger' 'sonoma' 'Sierra 2500' 'yukon' 'Sephia' 'Passport' 'Mirage'
 'breeze' 'silhouette' 'villager' 'beetle' 'suburban' 'Lumina' 'Amigo'
 'mountaineer' 'Esteem' 'pathfinder' 'quest' 'Breeze' 'e300dt' 'intrigue'
 'lumina' 'Cabriolet' 'envoy' 'Cutlass' 'GS 400' 'E-150' 'Regency'
 'thunderbird' 'B-Series Pickup' 'legacy' 'corsica' 'bronco' 'Le Baron'
 'Caprice' 'Pickup' 'century' '500-Class' '300-Class' 'previa'
 'Murano CrossCabriolet' 'NV Cargo' 'Jetta Hybrid' 'S7' 'Encore' 'XTS'
 'Black Diamond Avalanche' 'RLX' '2 Series' 'M6 Gran Coupe' 'regal'
 'versa' 'BRZ' 'C/V Tradesman' 'Model S' 'Beetle Convertible' 'Golf R'
 'routan' 'TSX Sport Wagon' 'interstate' 'a6' 'Corvette Stingray' 'SS'
 'Mazdaspeed 3' 'i-MiEV' 'F430' 'EX35' 'swift' 'GranSport' 'escalade'
 'neon' 'f350' 'Yukon Denali' 'Ghibli' '960' 'Cutlass Supreme' 'cougar'
 'IS 350 C' 'lacrosse' 'tucson' '323i' 'cobalt' 'x3'
 'Mazdaspeed MX-5 Miata' 'Ram Cargo' 'Safari' 'Eighty-Eight' '850' 'J30'
 'Promaster Cargo Van' 'sonic' 'rr' '1' 'Malibu Hybrid' '350' 'twn/cntry'
 'Spirit' 'Accord Hybrid' '3 Series Gran Turismo' 'e' 'cruze' 'c230'
 'crossfire' 'Viper' 'Riviera' 'compass' 'Avalon Hybrid' 'RX-8'
 'V8 Vantage' 'Equator' 'sportage' 'C/K 3500 Series' 'Mark VIII' 'charger'
 'GranTurismo Convertible' 'avenger' 'equinox' 'allure' 'c240s' 'Vitara'
 'avalon' 'eurovan' 'siera' 'pathfind' 'Eighty-Eight Royale' 'cherokee'
 'ActiveHybrid 7' 'aveo' 'GS 460' 'Tribute Hybrid' 'Aura Hybrid' 'tahoe'
 'g2500' '300ZX' 'Golf GTI' 'i-Series' 'golf' 'MKZ Hybrid' 'Macan' 'FX50'
 'comm' 'STS-V' 'Windstar Cargo' 'CTS-V Wagon' 'Karma' '328i' 'Z4 M' '42c'
 'subrbn' 'b2300' 'mountnr' 'Coupe' 'uplandr' 'Ram Van' 'Tempo' 'Tracer'
 'CV Tradesman' 'DB9' 'C/K 2500 Series' 'i8' 'Rapide' 'Nubira' 'Corsica'
 'NV Passenger' 'Spyder' 'LS 600h L' '400-Class' 'H3T' 'LX 450' 'WRX'
 'Silverado 3500 Classic' '500e' 'Continental Supersports' 'Sierra 3500'
 'Mystique' 'F-150 SVT Lightning' '190-Class' 'MKC' 'Aspire' '940'
 'Gallardo' 'Continental Flying Spur Speed' '3000GT' 'TT RS' 'B-Series'
 'ActiveHybrid 5' 'Sierra 1500 Hybrid' 'ML55 AMG' 'S-10 Blazer' 'RS 4'
 'T100' 'Continental GTC Speed' 'mdx' 'Transit Van' 'F-250' 'Sidekick'
 'E-250' '8 Series' '420-Class' 'E-350' 'Achieva' 'B-Class Electric Drive'
 'Fleetwood' 'Paseo' 'Civic del Sol' 'Exige' 'X4' 'Spark EV'
 'Transit Wagon' 'H1' 'SLS AMG GT' 'Flying Spur' 'Metro'
 'Grand Cherokee SRT' 'RC F' 'Q3' '4 Series Gran Coupe' 'RC 350' '360'
 'GLA-Class' 'TLX' '458 Italia']
________________________________________________________________________________
model
Altima        19349
F-150         14479
Fusion        12946
Camry         12545
Escape        11861
              ...
rrs               1
golf              1
g500              1
tahoe             1
458 Italia        1
Name: count, Length: 973, dtype: int64
********************************************************************************


trim :
--------------------------------------------------------------------------------
['LX' '328i SULEV' 'T5' ... 'pure' 'EWB' 'Power Wagon']
________________________________________________________________________________
trim
Base                 55817
SE                   43648
LX                   20757
Limited              18367
LT                   16915
                     ...
xls                      1
series m                 1
4x2 reg silverado        1
4x2 v6 limited           1
Power Wagon              1
Name: count, Length: 1963, dtype: int64
********************************************************************************


body :
--------------------------------------------------------------------------------
['SUV' 'Sedan' 'Convertible' 'Coupe' 'Wagon' 'Hatchback' 'Crew Cab'
 'G Coupe' 'G Sedan' 'Elantra Coupe' 'Genesis Coupe' 'Minivan' nan 'Van'
 'Double Cab' 'CrewMax Cab' 'Access Cab' 'King Cab' 'SuperCrew'
 'CTS Coupe' 'Extended Cab' 'E-Series Van' 'SuperCab' 'Regular Cab'
 'G Convertible' 'Koup' 'Quad Cab' 'CTS-V Coupe' 'sedan' 'G37 Convertible'
 'Club Cab' 'Xtracab' 'Q60 Convertible' 'CTS Wagon' 'convertible'
 'G37 Coupe' 'Mega Cab' 'Cab Plus 4' 'Q60 Coupe' 'Cab Plus'
 'Beetle Convertible' 'TSX Sport Wagon' 'Promaster Cargo Van'
 'GranTurismo Convertible' 'CTS-V Wagon' 'Ram Van' 'minivan' 'suv'
 'Transit Van' 'Navitgation' 'van' 'regular-cab' 'g sedan' 'g coupe'
 'hatchback' 'king cab' 'supercrew' 'g convertible' 'coupe' 'crew cab'
 'wagon' 'double cab' 'e-series van' 'regular cab' 'quad cab'
 'g37 convertible' 'supercab' 'extended cab' 'crewmax cab' 'genesis coupe'
 'access cab' 'mega cab' 'xtracab' 'beetle convertible' 'cts coupe' 'koup'
 'club cab' 'elantra coupe' 'q60 coupe' 'cts-v coupe' 'transit van'
 'granturismo convertible' 'tsx sport wagon' 'promaster cargo van'
 'q60 convertible' 'g37 coupe' 'cab plus 4' 'cts wagon']
________________________________________________________________________________
body
Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
cab plus 4          1
g37 coupe           1
CTS-V Wagon         1
Ram Van             1
cts wagon           1
Name: count, Length: 87, dtype: int64
********************************************************************************


transmission :
--------------------------------------------------------------------------------
['automatic' nan 'manual' 'Sedan' 'sedan']
________________________________________________________________________________
transmission
automatic    475915
manual        17544
sedan            15
Sedan            11
Name: count, dtype: int64
********************************************************************************


vin :
--------------------------------------------------------------------------------
['5xyktca69fg566472' '5xyktca69fg561319' 'wba3c1c51ek116351' ...
 '5uxzw0c58cl668465' '1n4al3ap0fc216050' '1ftfw1et2eke87277']
________________________________________________________________________________
vin
automatic            22
wbanv13588cz57827     5
5uxfe43579l274932     4
trusc28n241022003     4
wddgf56x78f009940     4
                     ..
1p3ew65g7yv603989     1
4t1bf28b1yu016829     1
jtdbt1231y0082703     1
jtddr32t8y0063746     1
1ftfw1et2eke87277     1
Name: count, Length: 550297, dtype: int64
********************************************************************************


state :
--------------------------------------------------------------------------------
['ca' 'tx' 'pa' 'mn' 'az' 'wi' 'tn' 'md' 'fl' 'ne' 'nj' 'nv' 'oh' 'mi'
 'ga' 'va' 'sc' 'nc' 'in' 'il' 'co' 'ut' 'mo' 'ny' 'ma' 'pr' 'or' 'la'
 'wa' 'hi' 'qc' 'ab' 'on' 'ok' 'ms' 'nm' 'al' '3vwd17aj4fm201708' 'ns'
 '3vwd17aj2fm258506' '3vwd17aj3fm276741' '3vwd17aj2fm285365'
 '3vwd17aj0fm227318' '3vwd17aj6fm218641' '3vwd17aj7fm223475'
 '3vwd17aj5fm297123' '3vwd17aj5fm219943' '3vwd17aj9fm219766'
 '3vwd17aj3fm259017' '3vwd17aj5fm206111' '3vwd17aj5fm273601'
 '3vwd17aj5fm221322' '3vwd17aj5fm268964' '3vwd17aj6fm231972'
 '3vwd17aj7fm222388' '3vwd17aj7fm218440' '3vwd17ajxfm315938'
 '3vwd17aj7fm229552' '3vwd17aj8fm298895' '3vwd17aj4fm236636'
 '3vwd17aj5fm225953' '3vwd17aj7fm326640' '3vwd17aj8fm239622'
 '3vwd17aj2fm261566']
________________________________________________________________________________
state
fl                   82945
ca                   73148
pa                   53907
tx                   45913
ga                   34750
                     ...
3vwd17aj2fm285365        1
3vwd17aj3fm276741        1
3vwd17aj2fm258506        1
3vwd17aj4fm201708        1
3vwd17aj2fm261566        1
Name: count, Length: 64, dtype: int64
********************************************************************************


condition :
--------------------------------------------------------------------------------
[ 5. 45. 41. 43.  1. 34.  2. 42.  3. 48. nan 49. 17. 19. 29. 38. 44. 47.
 32.  4. 25. 37. 39. 31. 28. 46. 36. 35. 26. 21. 22. 27. 24. 33. 23. 15.
 16. 18. 12. 14. 11. 13.]
________________________________________________________________________________
condition
19.0    42281
35.0    26750
37.0    25938
44.0    25514
43.0    24937
42.0    24328
36.0    23144
41.0    23073
2.0     20790
4.0     19922
39.0    19920
28.0    19178
29.0    18928
38.0    18723
34.0    17398
27.0    16351
49.0    13099
48.0    12712
46.0    12634
25.0    12561
45.0    12313
26.0    11912
47.0    11363
5.0     11222
3.0     10803
33.0    10619
32.0     9962
24.0     9326
31.0     9222
21.0     9199
23.0     8188
1.0      7364
22.0     6057
18.0      323
17.0      243
16.0      178
15.0      144
14.0      134
12.0       95
11.0       87
13.0       82
Name: count, dtype: int64
********************************************************************************


odometer :
--------------------------------------------------------------------------------
[ 16639.   9393.   1331. ... 204835. 111069. 262065.]
________________________________________________________________________________
odometer
1.0         1318
999999.0      72
10.0          29
21587.0       21
29137.0       18
            ...
84791.0        1
184061.0       1
113144.0       1
201099.0       1
262065.0       1
Name: count, Length: 172278, dtype: int64
********************************************************************************


color :
--------------------------------------------------------------------------------
['white' 'gray' 'black' 'red' 'silver' 'blue' 'brown' 'beige' 'purple'
 'burgundy' '—' 'gold' 'yellow' 'green' 'charcoal' nan 'orange'
 'off-white' 'turquoise' 'pink' 'lime' '4802' '9410' '1167' '2172' '14872'
 '12655' '15719' '6388' '16633' '11034' '2711' '6864' '339' '18384' '9887'
 '9837' '20379' '20627' '721' '6158' '2817' '5705' '18561' '2846' '9562'
 '5001']
________________________________________________________________________________
color
black        110970
white        106673
silver        83389
gray          82857
blue          51139

**work with make category**

In [5]:
df['make'] = df['make'].apply(lambda x: x.lower() if isinstance(x, str) else np.nan)
def fix_make_column1(col):
    try:
        if col == 'landrover':
            return 'land rover'
        elif col == 'ford truck':
            return 'ford tk'
        else:
            return col
    except:
        
        return np.nan

df['make'] = df['make'].apply(fix_make_column1)

print(df['make'].unique())

['kia' 'bmw' 'volvo' 'nissan' 'chevrolet' 'audi' 'ford' 'hyundai' 'buick'
 'cadillac' 'acura' 'lexus' 'infiniti' 'jeep' 'mercedes-benz' 'mitsubishi'
 'mazda' 'mini' 'land rover' 'lincoln' 'jaguar' 'volkswagen' 'toyota'
 'subaru' 'scion' 'porsche' nan 'dodge' 'fiat' 'chrysler' 'ferrari'
 'honda' 'gmc' 'ram' 'smart' 'bentley' 'pontiac' 'saturn' 'maserati'
 'mercury' 'hummer' 'mercedes' 'gmc truck' 'saab' 'suzuki' 'oldsmobile'
 'isuzu' 'dodge tk' 'geo' 'rolls-royce' 'mazda tk' 'hyundai tk'
 'mercedes-b' 'vw' 'daewoo' 'chev truck' 'ford tk' 'plymouth' 'tesla'
 'airstream' 'dot' 'aston martin' 'fisker' 'lamborghini' 'lotus']

**Work with body category**

In [6]:
def fix_body_column(col):
    try :
        return col.lower()
    except :
        return np.nan

df['body'] = df['body'].apply(fix_body_column)
df['body'].unique()

array(['suv', 'sedan', 'convertible', 'coupe', 'wagon', 'hatchback',
       'crew cab', 'g coupe', 'g sedan', 'elantra coupe', 'genesis coupe',
       'minivan', nan, 'van', 'double cab', 'crewmax cab', 'access cab',
       'king cab', 'supercrew', 'cts coupe', 'extended cab',
       'e-series van', 'supercab', 'regular cab', 'g convertible', 'koup',
       'quad cab', 'cts-v coupe', 'g37 convertible', 'club cab',
       'xtracab', 'q60 convertible', 'cts wagon', 'g37 coupe', 'mega cab',
       'cab plus 4', 'q60 coupe', 'cab plus', 'beetle convertible',
       'tsx sport wagon', 'promaster cargo van',
       'granturismo convertible', 'cts-v wagon', 'ram van', 'transit van',
       'navitgation', 'regular-cab'], dtype=object)

**Work with transmission column**

In [7]:
df['transmission'].value_counts()

transmission
automatic    475915
manual        17544
sedan            15
Sedan            11
Name: count, dtype: int64

In [8]:
def fix_transmission_col(col):
    if col == 'sedan' or col =='Sedan':
        return 'automatic'
    else:
        return col
df['transmission'] = df['transmission'].apply(fix_transmission_col)

In [9]:
df['transmission'].value_counts()

transmission
automatic    475941
manual        17544
Name: count, dtype: int64

**Work with state column**

In [10]:
df['state'] = df['state'].apply(lambda x: df['state'].mode()[0] if str(x).startswith('3') else x)

In [11]:
df['state'].value_counts()

state
fl    82971
ca    73148
pa    53907
tx    45913
ga    34750
nj    27784
il    23486
nc    21845
oh    21575
tn    20895
mo    16013
mi    15511
nv    12685
va    12027
md    11158
wi     9851
mn     9429
az     8741
co     7775
wa     7416
ma     6729
ny     5699
in     4325
sc     4251
ne     4013
on     3442
pr     2725
la     2191
ms     1851
ut     1836
qc     1245
hi     1237
or     1155
ab      928
nm      171
ok       72
ns       61
al       26
Name: count, dtype: int64

**fix color column**

In [12]:
df['color'].mode()[0]

'black'

In [13]:
df['color'].unique()

array(['white', 'gray', 'black', 'red', 'silver', 'blue', 'brown',
       'beige', 'purple', 'burgundy', '—', 'gold', 'yellow', 'green',
       'charcoal', nan, 'orange', 'off-white', 'turquoise', 'pink',
       'lime', '4802', '9410', '1167', '2172', '14872', '12655', '15719',
       '6388', '16633', '11034', '2711', '6864', '339', '18384', '9887',
       '9837', '20379', '20627', '721', '6158', '2817', '5705', '18561',
       '2846', '9562', '5001'], dtype=object)

In [14]:
def fix_color_col(col):
    try:
        if col == '—' or col in ['4802', '9410', '1167', '2172', '14872', '12655', '15719', '6388', '16633', '11034', '2711', '6864', '339', '18384', '9887', '9837', '20379', '20627', '721', '6158', '2817', '5705', '18561', '2846', '9562', '5001']:
            return 'white'  
        else:
            return col
    except Exception as e:
        return np.nan

df['color'] = df['color'].apply(fix_color_col)

In [15]:
df['color'].unique()

array(['white', 'gray', 'black', 'red', 'silver', 'blue', 'brown',
       'beige', 'purple', 'burgundy', 'gold', 'yellow', 'green',
       'charcoal', nan, 'orange', 'off-white', 'turquoise', 'pink',
       'lime'], dtype=object)

**fix interior column**

In [16]:
def fix_interior_col(col):
    try:
        if col == '—':
            return col.mode()[0]
        else:
            return col
    except:
        return np.nan

df['interior'] = df['interior'].apply(fix_interior_col)

In [17]:
df['interior'].value_counts()

interior
black        244329
gray         178581
beige         59758
tan           44093
brown          8640
red            1363
blue           1143
silver         1104
off-white       480
purple          339
gold            324
white           256
green           245
burgundy        191
orange          145
yellow           20
Name: count, dtype: int64

**Work with saledate**

In [18]:
df['saledate']

0         Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1         Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2         Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3         Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4         Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
                           ...
558832    Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833    Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834    Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835    Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836    Thu May 28 2015 05:30:00 GMT-0700 (PDT)
Name: saledate, Length: 558837, dtype: object

In [19]:
df['saledate'][1].split(' G')[0]

'Tue Dec 16 2014 12:30:00'

In [20]:
df['saledate'] = df['saledate'][1].split(' G')[0]
df['saledate']

0         Tue Dec 16 2014 12:30:00
1         Tue Dec 16 2014 12:30:00
2         Tue Dec 16 2014 12:30:00
3         Tue Dec 16 2014 12:30:00
4         Tue Dec 16 2014 12:30:00
                    ...
558832    Tue Dec 16 2014 12:30:00
558833    Tue Dec 16 2014 12:30:00
558834    Tue Dec 16 2014 12:30:00
558835    Tue Dec 16 2014 12:30:00
558836    Tue Dec 16 2014 12:30:00
Name: saledate, Length: 558837, dtype: object

In [21]:
import datetime
df['saledate'] = pd.to_datetime(df['saledate'] , format = '%a %b %d %Y %H:%M:%S' , errors = 'coerce')

In [22]:
df['month'] = df['saledate'].dt.month_name()

In [23]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,month
0,2015,kia,Sorento,LX,suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 12:30:00,December
1,2015,kia,Sorento,LX,suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 12:30:00,December
2,2014,bmw,3 Series,328i SULEV,sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2014-12-16 12:30:00,December
3,2015,volvo,S60,T5,sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2014-12-16 12:30:00,December
4,2014,bmw,6 Series Gran Coupe,650i,sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-16 12:30:00,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,kia,K900,Luxury,sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2014-12-16 12:30:00,December
558833,2012,ram,2500,Power Wagon,crew cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2014-12-16 12:30:00,December
558834,2012,bmw,X5,xDrive35d,suv,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2014-12-16 12:30:00,December
558835,2015,nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2014-12-16 12:30:00,December
558836,2014,ford,F-150,XLT,supercrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2014-12-16 12:30:00,December

In [24]:
df.describe()

,year,condition,odometer,mmr,sellingprice,saledate
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000,558837
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810,2014-12-16 12:29:59.999997696
min,1982.000000,1.000000,1.000000,25.000000,1.000000,2014-12-16 12:30:00
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000,2014-12-16 12:30:00
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000,2014-12-16 12:30:00
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000,2014-12-16 12:30:00
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000,2014-12-16 12:30:00
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628,NaN

**work with missing values**

In [25]:
df.isna().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior        17826
seller              0
mmr                38
sellingprice       12
saledate            0
month               0
dtype: int64

In [26]:
df.shape

(558837, 17)

In [27]:
df.dropna(axis = 0)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,month
0,2015,kia,Sorento,LX,suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 12:30:00,December
1,2015,kia,Sorento,LX,suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 12:30:00,December
2,2014,bmw,3 Series,328i SULEV,sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2014-12-16 12:30:00,December
3,2015,volvo,S60,T5,sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2014-12-16 12:30:00,December
4,2014,bmw,6 Series Gran Coupe,650i,sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-16 12:30:00,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,bmw,5 Series,528i,sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,2014-12-16 12:30:00,December
558833,2012,ram,2500,Power Wagon,crew cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2014-12-16 12:30:00,December
558834,2012,bmw,X5,xDrive35d,suv,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2014-12-16 12:30:00,December
558835,2015,nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2014-12-16 12:30:00,December
558836,2014,ford,F-150,XLT,supercrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2014-12-16 12:30:00,December

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      541011 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558837 non-null  datetime64[ns]
 16  month         558837 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(11)
memory usage: 72.5+ MB

**Checking outliers**

In [29]:
plt.figure(figsize=(10, 8)) 
for col in df['condition', 'mmr', 'odometer', 'sellingprice']:
    plt.title(f'{col} : ')
    sns.boxplot(data=df, x=col)
    plt.show()
    print('-' * 80)
    print('\n')

TypeError: 'module' object is not callable

In [ ]:
from datasist.structdata import detect_outliers
outliers_indices = detect_outliers(df , 0 , df.select_dtypes(exclude=['object' , 'datetime64[ns]']))

In [ ]:
len(outliers_indices)

In [ ]:
for col in ['condition', 'mmr', 'odometer', 'sellingprice']:
    df.loc[np.abs(stats.zscore(df[col])) > 3 , col ] = df[col].median()

In [ ]:
len(outliers_indices)